    h1{
            text-align: center;
        }
        label{
            font-size: 30px;
            font-weight: bolder;
        }
        .input_data
        {
            width: 500px;
            height: 300px;
            margin: 0 auto;
            text-align: center;
            padding:5px;
            background-color: silver;

        }
        #reset
        {
            display:none;
        }
        input{
        padding: 2px;
        width: 300px;
        font-size: 20px;
        margin:5px;
        border-radius: 7px;
        }
        button{
            width:100px;
            height:25px;
            border-radius: 5px;
            margin:10px;
            font-weight: bolder;
        }
        p,h2{
            font-size: 20px;
        }